<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card color="danger">
    <ion-item href="#" class="ion-activated">
      <ion-icon slot="start" name="wifi"></ion-icon>
      <ion-label>Wifi</ion-label>
      <ion-button fill="outline" slot="end">
        View
      </ion-button>
    </ion-item>
    <ion-card-content>
      Awesome content
    </ion-card-content>
  </ion-card>
  <ion-card color="primary">
    <ion-card-header>
      <ion-card-subtitle>Wisconsin, WI</ion-card-subtitle>
      <ion-card-title>Madison</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Founded in 1829 on an isthmus between Lake Monona and Lake Mendota,
      Madison was named the capital of the Wisconsin Territory in 1836.
    </ion-card-content>
  </ion-card>

  <ion-card color="light">
    <ion-card-header>
      <ion-card-title>Checkboxes</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>Alvin</ion-label>
          <ion-checkbox
            value="Alvin"
            slot="end"
            color="tertiary"
          ></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-checkbox
            name="name"
            value="Mukiibi"
            slot="start"
            color="danger"
          ></ion-checkbox>
          <ion-label>Mukiibi</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
