<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Components
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button (click)="actionSheet.presentActionSheet()" expand="block">
    Options
  </ion-button>
  <ion-button (click)="alert.presentAlert()" color="success">
    Confirm
  </ion-button>
  <ion-badge color="primary" mode="md">42</ion-badge>
  <ion-badge color="tertiary" mode="md">23</ion-badge>
  <ion-badge color="danger" mode="md">12</ion-badge>
  <br />
  <ion-button color="danger" shape="round">
    Click me
  </ion-button>
  <ion-button color="light">Light</ion-button>
  <ion-button color="medium">Medium</ion-button>
  <ion-button color="dark">Dark</ion-button>
</ion-content>
