<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Components
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button (click)="actionSheet.presentActionSheet()" expand="block">
    Options
  </ion-button>
  <ion-button (click)="alert.presentAlert()" color="success">
    Confirm
  </ion-button>
  <ion-badge color="primary" mode="md">42</ion-badge>
  <ion-badge color="tertiary" mode="md">23</ion-badge>
  <ion-badge color="danger" mode="md">12</ion-badge>
  <br />
  <ion-button color="danger" shape="round">
    Click me
  </ion-button>
  <ion-button color="light">Light</ion-button>
  <ion-button color="medium">Medium</ion-button>
  <ion-button color="dark">Dark</ion-button>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Forms</ion-card-subtitle>
      <ion-card-title>Input</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <!--text, password, email, number, search, tel, url-->
      <form (ngSubmit)="onSubmit()" #form="ngForm">
        <ion-list lines="full">
          <ion-item>
            <ion-label position="stacked"
              >First Item <ion-text color="danger">*</ion-text></ion-label
            >
            <ion-input type="text" placeholder="Awesome Input"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="fixed">Last Name</ion-label>
            <ion-input
              required
              type="text"
              placeholder="Awesome Input"
              clearInput="true"
              color="tertiary"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Notes</ion-label>
            <ion-textarea></ion-textarea>
          </ion-item>
        </ion-list>
        <div class="ion-padding">
          <ion-button expand="block" type="submit" class="ion-no-margin"
            >Create account</ion-button
          >
        </div>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
